*{
    margin: 0;
    padding: 0;
}
.sectionOne{
    height: 95vh;
    width: 100vw;
 
}

.navbar{
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: blue */
}

.logo{
    font-size: 34px;
    font-weight: 700;
    color: firebrick;
    margin-left: 50px;
}

.navigation{
    margin-right: 50px;
}

.navigation-items li{
display: inline;
margin-right: 20px;
}

.navigation-items a{
    text-decoration: none;
    color: grey;
    font-size: 24px;
    

}
.signInBtn a{
    background-color: firebrick;
    color: white;
    padding: 20px;
    border-radius: 30px;

}
.banner{
    height: 87%;
    width: 100%;
background-image: url(/Images/banner.webp);
background-size: cover;
  background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerText{
    height: 280px;
    width: 450px;
    margin-top: 200px;
    text-align: center;
    /* background-color: aqua; */
    

}

.bannerText h1{
  font-size: 52px;
  margin-top: 20px;
  line-height: 52px;
  margin-bottom: 20px;

    
}

.bannerText p{
  font-size: 24px;
  margin-bottom: 30px;
  
}

.bannerText a{
    background-color: firebrick;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 30px;
    
}


/* SECTION TWO */
.sectionTwo{
    height: 75vh;
    width: 100vw;
}

.sectionTwo .header{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */

}

.header h2{
    font-size: 40px;
}

.header p{
    font-size: 20px;
}

.body{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

.principle{
    height: 70%;
    width: 25%;
    /* background-color: blueviolet; */
}

.principle .image{
    height: 60%;
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

.principle .imagedescription{
    height: 40%;
    width: 100%;
    /* background-color: aquamarine; */
    font-size: 20px;
    
}
.principle ul{
    list-style-type: square;
}

.principle h3{
    font-size: 20px;
    margin: 10px 0;
}

.convenience .image{
    background-image: url(/Images/box_overimage.webp);
}

.variety{
    margin: 0 30px;
}

.variety .image{
    background-image: url(/Images/salmon_katsuImage.webp);
}


.deliciousness .image{
    background-image: url(/Images/variety-hiImage.webp);
}

/* SECTION THREE */

.sectionThree{
    height: 70vh;
    width: 100vw;
    display: flex;
   
}

.sectionThree .image{
    height: 100%;
    width: 50%;
    background-image: url(/Images/Family_cookingImage.webp);
    background-position: center;
    background-size: cover;

}

.sectionThree .imageDescription{
    height: 100%;
    width: 50%;
    background-color: #fbe6de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sectionThree .text{
height: 70%;
width: 80%;
}

.text h2{
    font-size: 32px;
    color: #e42c14;
    margin-bottom: 10px;
    
}


.text p{
font-size: 20px;
margin-bottom: 30px;
color: #4e4947;

}

.text ol{
font-size: 18px;
margin-bottom: 50px;
line-height: 40px;
font-weight: 600;

}
.text a{
    background-color: firebrick;
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
}


/* SECTION FOUR */

.sectionFour{
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
    text-align: center;
}

.sectionFour .header{
    height: 18%;
    width: 55%;
    margin-left: 25%;
    /* background-color: brown; */
}

.sectionFour h2{
    margin-bottom: 10px;
    color: #4d4d4d;
}

.sectionFour p{
color: #999999;
}

.sectionFour .image{
    height: 60%;
    width: 100%;
    /* background-color: green; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionFour .menu{
    height: 70%;
    width: 20%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.sectionFour .vegan{
    background-image: url(/Images/veganImage1.webp);
}
.sectionFour .weeklyClassic{
    margin: 0 25px;
    background-image: url(/Images/weekly_classicImage2.webp);
}
.sectionFour .vegetarian{
    background-image: url(/Images/VegetarianImage3.webp);
}

.sectionFour a{
    font-size: 18px;
    background-color: firebrick;
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;

}

.menu p{
    position: absolute;
    font-size: 20px;
    color: red;
    bottom: 18px;
    right: 10px;
    border-radius: 20px;
    padding: 5px 10px;
}

.vegan p{
    background-color: #d8f4a4;
    color:#9dc359 ;
}
.weeklyClassic p{
    background-color:#d9e3fe ;
    color:#9aaae5 ;
}
.vegetarian p{
    background-color: #c8f5da;
    color:#81cea0 ;
}

/* SECTION FIVE */

.sectionFive{
    height: 100vh;
    width: 100vw;
    background-color: #f3f4f6;
}

.sectionFive .header{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 30px; 
    /* background-color: aqua; */

}

.sectionFive .instaLogo{
    width: 40px;
    height: 40px;
    background-image: url(/Images/instaLogo.webp);
    background-position: center;
    background-size: cover;
    
}

.sectionFive h2{
    font-size: 40px;
    text-decoration: underline;
}

.sectionFive .image{
    height: 65%;
    width: 100%;
      /* background-color: aqua;   */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFive .review{
    height: 67%;
    width: 18%;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    /* background-color: green; */

}

.sectionFive .one{
    background-image: url(/Images/dxblivin-creditImage.webp);
}


.sectionFive .two{
    background-image: url(/Images/ayshasaihaImage.webp);
}


.sectionFive .three{
    background-image: url(/Images/shrimplyImage.webp);
}


.sectionFive .four{
    background-image: url(/Images/ashley_dxbImage.webp);
}

.sectionFive .pageDescription{
    height: 18%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    /* background-color: pink; */
}

.sectionFive .mealserved{
  color: #e64530;  
}


.sectionFive .rating{
font-size: 18px;

}


.sectionFive .fa-solid{
color: #f6ad01;
margin-right: -5px;
}


.sectionFive .googleLogo{
height: 20px;
margin-bottom: -5px;
}

/* SECTION SIX */

.sectionSix{
    width: 100vw;
    height: 100vh;
    background-image: url(/Images/subscribeImage.webp); 
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}


.sectionSix .subscriptionForm{
    height: 40vh;
    width: 80vw;
    margin-bottom: 30px ;
    background-color: #ffffff; 
    border-radius: 20px;     

}

.sectionSix h2{
    font-size: 40px;
    color: #4b4b4b;
   margin: 20px 0;
}

.sectionSix p{
    font-size: 20px;
    color: #c1c1c1;
    font-weight: 300;
    margin-bottom: 20px;
}

.sectionSix .subscriptionform{
width: 40%;
}

.jobDescription p{
    height: 20%;
    width: 53%;
    font-size: 15px;
    /* background-color: aqua; */
    margin: 0 20%;
    
}

.sectionSix label{
    color:#c1c3c6 ;
    margin-left: -319px;
}

.sectionSix input{
    height: 40px;
    width: 30%;
    margin-top: 5px;
    border: solid 1px #c1c3c6 ;
    border-right: none;
    border-radius: 5px 0 0 5px;

}

.sectionSix a{
    font-size: 18px;
    background-color: firebrick;
    color: white;
    padding: 9px 10px 11px 10px;
    border-radius: 0 5px 5px 0 ;
    text-decoration: none;
    margin-left: -4px;
}

/* SECTION SEVEN */

.sectionSeven{
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
}

.sectionSeven h4{
    font-size: 34px;
    font-weight: 700;
    color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionSeven .workdescription{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    line-height: 30px;
    margin: 50px 0;
   
    
}
 .sectionSeven h1{
    color: #595959;
    font-size: 19px;

 }
 .sectionSeven p{
    color: #595959;
    font-size: 18px;
    
 }

 .sectionSeven .moreInfo{
    margin-left: 60px;
    margin-right: 60px;
 }
 .sectionSeven .ourBlog{
    margin-left: 60px;
    margin-right: 40px;
 }

 .ourBlog img{
    width: 30%;
    height: 30%;
   border-radius: 10%;
 }


 .ourBlog h1{
    text-align: right;
    margin-right: 70%;
 }

 .contactUs h1{
    text-align: right;
    margin-left: 40px;
    width: 70%;
    /* background-color: aqua; */
 }

 .ourBlog p{
    width: 29%;
    height: 2%;
    line-height: 20px;
    text-align: right;
 }

  .contactUs{
    margin-left: -60px;
    text-align: right;
 }

 .reachUs{
    width: 100%;
    height: 30%;
    /* background-color: pink; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .subscribe h1{
    margin-left: -24px;
 }

.subscribe label{
    color:#c1c3c6 ;
    margin-left: -136px;
    
}

.sectionSeven input{
    height: 35px;
    width: 60%;
    margin-top: 5px;
    border: solid 1px #c1c3c6 ;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.subscribe a{
    font-size: 18px;
    background-color: firebrick;
    color: white;
    padding: 8px 9px 10px 9px;
    border-radius: 0 5px 5px 0 ;
    text-decoration: none;
    margin-left: -4px;
}

.sectionSeven .rating{
    height: 50%;
    width: 30%;
    font-size: 18px;
    margin: 0px -50px -25px 30px;
    /* display: flex;
    text-align: center;
    justify-content: center; */
    align-items: right;
    /* background-color: pink */
    
    }
    
    .sectionSeven .fa-star{
    color: #f6ad01;
    margin:0 -2px;
    }
    .sectionSeven .fa-star-half-stroke{
    color: #f6ad01;
    margin:0 -2px;
    }
    
    
    .sectionSeven .googleIcon{
    height: 40px;
    margin-bottom: -13px;
    }

    .socialMedia{
        margin-left: 190px;
        /* height: 60px;
        width: 50%; */
        /* background-color: pink; */
    }
    .socialMedia h1{
        margin-left: 75px;
      
    }

    .fa-brands{
        width: 40px;
        height: 40px;
    }

    .endCredits{
        width: 100%;
        height: 20%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .endCredits h2{
        font-size: 18px;
        color: #646464;
    }

    .endCredits .fa-heart{
        color: #e42a12;
    }
    .endCredits a{
        color: #e42a12;
    }